h1{
color: gold;
font-size: 35pt;
background-color: mediumblue;

}

h2{
font-size: 25pt;
color: mediumblue;
}

h3{
color: darkgrey;


}

h4{
font-size: 25pt;
text-align: right;
color: gold;
}

p{
color: mediumblue;
width: 700px;
}